/* common styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
.btn-1 a{
  border: 1px solid rgba(13, 19, 33, 0.8);
  border-radius: 8px;
  padding: 17px 24px 17px 24px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: rgb(13, 19, 33);
  transition: 0.3s;
}
.btn-1 a:hover{
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
}
.btn-2 a{
  display: inline-block;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  padding: 17px 24px 17px 24px;
  color: rgb(255, 255,255);
  background-color: rgb(13, 19, 33);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  transition: .3s;
}
.btn-2 a:hover{
  background-color: rgb(255, 255,255);
  color: rgb(13, 19, 33);
}
.btn-3 a{
  padding: 12px 20px 12px 20px;
  border: 1px solid rgba(13, 19, 33, 0.7);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: rgb(13, 19, 33);
  text-decoration: none;



}
/* font-style */
body {
  font-family: "Azeret Mono", monospace;
}
/* nav-bar style */

.nav-bar{
  padding-bottom: 35px ;
  padding-top: 38px;
}
.nav-bar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
  display:flex;
}
.nav-title{
color: rgb(13, 19, 33);
font-weight: 800;
line-height: 33px;
}
/* banner-styles */
.banner-part{
  background: url("web-media/Hero-bg.png") no-repeat center;
  background-size: cover;
  padding-bottom: 44px;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}
.banner-header{
  width: 998px;
  margin-top: 32px;
  margin-bottom: 24px;
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
}
.banner-para{
  width: 852px;
  margin-bottom: 32px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
/* Main Body */
.web-dev{
  padding-top: 74px;
  padding-bottom: 88px;
}
.web-dev-header{
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  color: rgb(13, 19, 33);
}
.web-dev-para{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: rgba(13, 19, 33, 0.7);
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 48px;
  width: 852px;
}
.group-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.web-dev-future{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}
.web-dev-future h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(13, 19, 33, 0.7);
  padding: 0px;
  margin-bottom: 16px;
  width: 390px;
}
.web-dev-future p{
  font-size: 16px;
font-weight: 400;
line-height: 26px;
color: rgba(13, 19, 33, 0.7);
padding: 0px;
margin-bottom: 32px;
width: 468px;
}
.description{
  display: flex;
  padding: 48px;
  justify-content: space-between;
}
.description-2{
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 48px;
}
.group-4 iframe {
  width: 1076px;
  height: 550px;
  border-radius: 16px;
}
.iframe-link{
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-bottom: 149px;
}
.group-5{
  padding-bottom: 111px;
}
.card-section{
  display: flex;
  justify-content: space-between;
}
.ins-card{
  padding: 40px;
  border-radius: 16px;
}
.ins-card h3 {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  color: rgb(13, 19, 33);
}
.ins-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(13, 19, 33, 0.7);
  margin-top: 8px;
  margin-bottom: 24px;
  width: 284px;
}
.ins-card a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: rgb(13, 19, 33);
}
.card-section .html{
  background: rgba(255, 76, 30, 0.05);
}
.card-section .css{
  background: rgba(0, 76, 232, 0.05);
}
.card-section .javascript{
  background: rgba(255, 223, 0, 0.05);
}
.support{
  background: rgba(0, 0, 0, 0.2);
}
.support-banner{
  background: url("web-media/handshake.jpg") no-repeat center;
  background-size: cover;
  padding: 64px 48px 64px 48px;
}
.support-banner h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 16px;
}
.support-banner p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.form{
  display: flex;
  flex-direction: row;
}
.support-banner .form{
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
}
button {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  color: rgb(13, 19, 33);
}